
@font-face {
    font-family: "ZeldaFont";
    src:
      local("Zelda Police"), local("ZeldaPolice"),
      url("The\ Wild\ Breath\ of\ Zelda.otf");
    font-weight: bold;
  }



body {
    padding : 0;
    margin : 0;

 }

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(background_hobbies.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: sans-serif;
  
}

.navbar{
    width: 100%;
    height: auto;
    margin-left: 30px;
}

.titre{
    color: white;
    font-size: 50px;
    font-family: "ZeldaFont";
    float: left;
    padding-top: 0%;
    cursor: pointer;
}

.menu{
    width: 600px;
    float: left;
    height: 700px;
}

ul{
    float: left;
    display: flex;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
    margin-left: 14%;
}

ul li{
    list-style: none;
    margin-left: 60px;
    font-size: 25px;
}

ul li a{
    text-decoration: none;
    color: white;
    font-family: "ZeldaFont";
    font-weight: bold;
    transition: 1s;

}

ul li a:hover{
    color: gold;
    text-decoration: underline;
}
